div#carrying {
  cursor: default;
  padding-left: 0.3em;
  user-select: none;
}
div#carrying ul {
  list-style-type: none;
  padding-left: 0;
}
div#carrying ul li {
  display: inline-block;

  margin: 0 0.2em;
}
div#carrying #water {
  color: lightblue;
}
div#carrying #logs {
  color: brown;
}
