div#carrying {
  cursor: default;

  padding-left: 0.3em;
  margin: 1em 0;

  user-select: none;
}
div#carrying ul {
  list-style-type: none;
  padding-left: 0;

  margin: 0;

  display: inline-block;
}
div#carrying ul li {
  display: inline-block;

  margin: 0 0.2em;
}
div#carrying #water {
  color: lightblue;
}
div#carrying #logs {
  color: #4E342E;
}
div#carrying #tree-seeds {
  color: #4E342E;
}
div#carrying #money {
  color: #4CAF50;
  margin: 0 0.5em;
}
