div#inventory {
  cursor: default;
  user-select: none;
}
div#inventory h4 {
  margin: 1em 0;
}
div#inventory ul {
  list-style-type: none;

  padding-left: 0;
  margin: 0;

  position: relative;
}
div#inventory ul li.item {
  display: inline-block;

  vertical-align: top;

  padding: 0.05em;
  width: 64px;

  border: 1px solid black;
  border-radius: 3px;

  text-align: center;
  margin: 0 0.5em;
}
div#inventory .item.selected {
  background-color: white;
}
div#inventory .item .icon {
  position: relative;
}
div#inventory .item img {
  width: 100%;;

  margin: auto;
}
div#inventory .icon .count {
  position: absolute;
  bottom: 0;
  right: 2px;

  background-color: #E0F7FA;
  font-size: 0.7em;
  padding: 0.15em;
  border: 1px solid #006064;
  border-radius: 3px;
}
div#inventory .item .name {
  text-transform: capitalize;
}
