ul.menu {
  background-color: #9E9E9E;
  position: absolute;
}

ul.menu li {
  border: 1px solid white;

  padding: 0.3em;
  margin: 0 !important;
}
ul.menu li:first-of-type:not(:only-of-type) {
  border-bottom: 0;
}
ul.menu li:last-of-type:not(:only-of-type) {
  border-top: 0;
}
