html,
body {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  font-family: Courier, monospace;
}
div#container {
  padding: 0.4em;
  margin: 0.2em;

  background-color: #E0E0E0;

  border: 3px inset #BDBDBD;
}

div#content canvas {
  margin: auto;
}

 /*hud panels should be hidden until game is ready (game will unhide when it's ready) */
 div#carrying, div#hint, div#inventory {
   display: none;
 }
