div#hint {
  cursor: default;
  user-select: none;

  text-align: right;
  min-height: 20px;
  padding: 0.2em;
  padding-bottom: 0;

  visibility: hidden;

  span#object-name {
    float: left;
  }
  span#object-hint {
    // float: right;
  }
}
div#hint #key, div#hint #action {
  color: white;

  text-transform: uppercase;

  @include text-stroke(black);
}
