div.tabs {
  border-bottom: 2px solid;
  margin: 0 -0.5em;

  padding: 0.2em 0.4em;
  padding-bottom: 0;

  min-height: 8%;

  vertical-align: bottom;
}
button.tab {
  cursor: pointer;

  border: 0;

  margin: 0.1em;
  background-color: white;
  color: $buttonBGColor;

  &.selected:not(.side-tab) {
    background-color: $buttonBGColor;
    color: white;
    border-bottom: 3px solid #80DEEA;
  }
  &.side-tab.selected {
    background-color: $buttonBGColor;
    color: white;
    border-left: 3px solid #80DEEA;
  }
}

div.menu {
  padding: 0.7em 0.2em;
}

div.menu :not(#controls-menu) div.line {
  margin-bottom: 1em;
}

div#about-menu {
  font-size: 0.95rem;
}
