* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-weight: bold;
  font-size: 17px;
  font-family: 'Inconsolata', monospace;
}
div#container {
  width: 100%;
  height: 100%;
}

div#game canvas, div#game img {
  margin: auto;
  padding: 0.3em 0;
}

/* hud panels should be hidden until game is ready (game will unhide when it's ready) */
div#carrying, div#hint, div#inventory {
//  display: none;
}

div#right-wrapper, div#menu-holder {
  height: 100%;
}

button {
  background-color: $buttonBGColor;
  color: white;
  font-size: 1rem;
  border-radius: 2px;

  &.selected {
    background-color: white;
    color: $buttonBGColor;
  }
  &.disabled {
    background-color: #E0E0E0;
    color: #616161;
    border-style: solid;
    // border-width: 1px;
  }

  &:focus {
    outline: 0;
  }
}
