* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-weight: bold;
  font-size: 17px;
  font-family: 'Inconsolata', monospace;
}

div#game canvas {
  margin: auto;
  padding: 0.3em 0;
}

button, .upgrade {
  background-color: $buttonBGColor;
  color: #F5F5F5;
  font-size: 0.9rem;
  border-radius: 2px;
  border-style: outset;

  &.selected {
    background-color: #F5F5F5;
    color: $buttonBGColor;
  }
  &.disabled {
    background-color: #E0E0E0;
    color: #616161;
    border-style: solid;
    border-color: #c0c0c0;
  }

  &:focus {
    outline: 0;
  }
}
input {
  margin: 0.2em !important;
}
hr {
  border-color: #546E7A;
}
label {
  margin: 0.2em;
}
