* { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-weight: bold;
  font-size: 17px;
  font-family: 'Inconsolata', monospace;
}

div#game canvas {
  margin: auto;
  padding: 0.3em 0;
}

button {
  background-color: $buttonBGColor;
  color: white;
  font-size: 0.95rem;
  border-radius: 2px;

  &.selected {
    background-color: white;
    color: $buttonBGColor;
  }
  &.disabled {
    background-color: #E0E0E0;
    color: #616161;
    border-style: solid;
    // border-width: 1px;
  }

  &:focus {
    outline: 0;
  }
}
input {
  margin: 0.1em;
}
