div#top-menu {
  cursor: default;
  user-select: none;

  border-bottom: 0;
  border-left: 0;

  padding-left: 0.3em;

  display: block;
  float: none;

  min-height: 8%;
}
div#top-menu ul {
  list-style-type: none;
  padding-left: 0;

  margin: 0;

  display: inline-block;
}
div#top-menu ul li {
  display: inline-block;

  margin: 0 0.2em;
}
#money {
  color: #4CAF50;
  margin: 0 0.5em;

  @include text-stroke(black);
}
