@mixin level-color($backgroundColor, $borderColor, $textColor) {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $textColor;

  .dismiss {
    &:hover {
      background-color: lighten($borderColor, 30%);
    }
  }
}

div#notifications {
  width: 300px;
  height: 92%;

  border-left: 0;

  display: block;
  float: none;

  cursor: default;

  overflow-y: auto;

  h1 {
    font-size: 1.2em;
  }
}

div#notifications ul {
  list-style-type: none;
  padding-left: 0;
}

div#notifications ul li {
  border: 1px solid lightgray;

  color: white;
  font-size: 0.9em;
  background-color: black;

  padding: 0.5em;
  margin: 0.25em 0;

  transition: all 0.25s;

  &:first-of-type {
    margin-bottom: 0.75em;
  }

  &.info {
    @include level-color(#E3F2FD, #2196F3, #0D47A1);
  }
  &.tip {
    @include level-color(#FFFDE7, #FF6F00, #F57F17);
  }
  &.warning {
    @include level-color(#FFF3E0, #FF9800, #E65100);
  }
  &.danger {
    @include level-color(#FFEBEE, #F44336, #B71C1C);
  }

  .dismiss {
    cursor: pointer;
    float: right;

    padding: 0.2em;
    margin-left: 0.25em;

    position: relative;
    top: -5px;
  }
}
