+menu('about', 'hidden')
  +submenu('summary')
    p
      a(href='https://github.com/ThomasMays/incremental-forest' target='_blank') Source Code on GitHub
    p
      | An experimental game attempting to bring typical 
      a(href='https://en.wikipedia.org/wiki/Incremental_game' target='_blank') incremental game
      |  mechanics to a game where you control the character instead of solely clicking buttons.
    p
      | Chop down trees, sell logs, chop down more trees, upgrade your axe and stuff, chop down more trees, sell more logs, hire workers to help out. 
      | Basically the same things you would do in any incremental game like 
      a(href='http://dhmstark.co.uk/games/civclicker/' target='_blank') CivClicker
      | .
    
    p You can view and change controls in the Settings -> Controls menu.
  +submenu('how-to-play', 'hidden')
    ul
      li Walk up to a tree and hold SPACE with your axe selected to start chopping it down.
      li Pick up what the tree drops.
        ul
          li Sell the log.
          li If it drops a pine cone, you can plant it by pressing SPACE on some grass (with the pine cone selected). It'll grow into a tree after a while.
            ul
              li If you really want some more cash, you can sell pine cones too (they don't sell for much though).
      li Buy some upgrades in the Upgrades tab.
      li Once you have enough money, you can hire workers (in the Workers tab).
        ul
          li Choppers will chop down any trees they can find.
          li Collectors will pick up items and put them in your inventory. (You still need to sell the logs and plant the pine cones though).
          li You can upgrade workers in their respective menus.
  +submenu('bugs', 'hidden')
    p
      | If you run across a bug, or there's a gameplay issue or enhancement you want to request, you can open an 
      a(href='https://github.com/ThomasMays/incremental-forest/issues' target='_blank') issue on GitHub
      |  and I'll get to it as soon as I can.
  +submenu('credits', 'hidden')
    ul
      li
        a(href='http://courperationx.deviantart.com/' target='_blank') courperationX
        |  created the Grass, Wood Axe, (modified) Trees, Pine Cones, Logs, Dirt (unused), Water (unused), and Mud (unused).
      li
        a(href='http://pousse.rapiere.free.fr/tome/' target='_blank') David E. Gervais
        |  created the (original) Character and (original) Tree sprites.
      li
        a(href='https://github.com/ThomasMays' target='_blank') I
        |  masterfully modified the Character sprite into 3 different sprites and developed the game.
      li
        a(href='https://phaser.io/' target='_blank') Phaser
        |  game framework powers the game
      li
        a(href='http://getbootstrap.com/' target='_blank') Bootstrap
        |  was used to make the UI
        
    
  div.col-xs-3
    ul.list-unstyled.text-right
      +sideTab('summary', 'Summary', 'selected')
      +sideTab('how-to-play', 'How To Play')
      +sideTab('bugs', 'Bugs/Issues')
      +sideTab('credits', 'Credits')
