mixin upgrade(id, price, title, label)
  button.upgrade.disabled(type='button' id='upgrade-' + id data-price=price title=title)=label

div.row#upgrades-menu.menu
  div.col-xs-12
    .line
      +upgrade('wood-axe', '14', 'Chop trees faster', 'Upgrade Wood Axe ($14)')
      br
      +upgrade('pine-cone', '2.50', 'Trees drop pine cones more often', 'Upgrade Pine Cone Drop Chance ($2.50)')
      br
      +upgrade('sell-price', '12', 'Items sell for higher', 'Upgrade Sell Prices ($12)')
      br
      +upgrade('tree-grow', '13', 'Trees grow faster', 'Upgrade Tree Grow Time ($13)')
