div.row
  div.col-xs-12
    button#workers.tab.selected(type='button') Workers
    button#upgrades.tab(type='button') Upgrades
    button#settings.tab(type='button') Settings
include ./menus/workers.pug
include ./menus/upgrades.pug
include ./menus/settings.pug
