div.row
  div.col-xs-12
    button#upgrades.tab.selected(type='button') Upgrades
    button#workers.tab(type='button') Workers
    button#settings.tab(type='button') Settings
    button#about.tab(type='button') About
include ./menus/upgrades.pug
include ./menus/workers.pug
include ./menus/settings.pug
include ./menus/about.pug
