div.row
  div.col-xs-12
    +tab('store', 'Store', 'selected')
    +tab('workers', 'Workers')
    +tab('settings', 'Settings')
    +tab('about', 'About')
include ./menus/store.pug
include ./menus/workers.pug
include ./menus/settings.pug
include ./menus/about.pug
