mixin storeButton(id, img, price, title, label)
  button.upgrade.disabled.store-item(id='buy-' + id, title=title)
    if img
      img(src='assets/sprites/' + img, alt=label)
    span
      | #{label}
      if price > 0
        |  (
        span.price #{price}
        | )
